body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.font-3 {
  font-size: 5rem;
}

.cursor-pointer {
  cursor: pointer;
}

.cuadrado {
  height: 100px;
  width: 100px;
  border: 1px solid black;
}